

<p-toast></p-toast>
<div class="container-fluid  h-100 fs-5 col-12 lh-sm ">
    <div class="row mb-5 px-3">
        <div class="col-lg-12 col-sm-12 h-25">
                <nav aria-label="breadcrumb" class="nav  justify-content-between pb-3 col-sm-12  col-lg-12" >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item nav-fill fs-5 cursor-pointer text-secondary fw-bold lh-sm" routerLink="/">Home</li>
                        <li class="breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm" routerLink="/orders">Orders</li>
                    </ol>
                    <button routerLink="/order/order-details" type="button" class="btn btn-pinky fw-bold lh-sm">
                        <strong>+</strong> New</button>
                </nav>



    </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="vh-100 rounded-4 fs-5 bg-white col-lg-12 col-sm-12   shadow-sm pt-7 position-relative" >
                <div class= "col-lg-11 col-sm-10 d-flex flex-row align-items-center rounded-3 bg-pinky shadow position-absolute top-3 start-50 translate-middle-x px-4"
                style=" height: 7rem;" >
                    <span class="fs-5 fw-bold text-white">Orders Table</span>
                </div>
                <div class="table-responsive w-100 h-100">
                    <table class="table fs-5 table-borderless  col-lg-12 col-sm-12  rounded-4 text-secondary">
                        <thead class="align-text-bottom ">
                            <tr class="border-bottom  ">

                                <th scope="col " class="ps-9 fs-5  align-bottom text-nowrap lh-sm ">user</th>
                                <th scope="col-5" class=" text-start fs-5    align-bottom text-nowrap lh-sm ">total price</th>
                                <th scope="col" class=" text-start fs-5   align-bottom text-nowrap lh-sm ">status</th>
                                <th scope="col" class=" text-start fs-5   align-bottom text-nowrap lh-sm ">date</th>
                                <th scope="col" class="pe-9 fs-5  text-nowrap text-end align-bottom lh-sm"></th>

                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let order of orders" class="border-top">

                                <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">{{order?.user?.name}}</td>

                                <td class="text-start fs-5    lh-sm align-middle  text-nowrap ">
                                    {{order?.totalPrice}}

                                </td>
                                <td class="text-start fs-5   align-middle lh-sm  text-nowrap ">
                                    <span class="badge" [ngClass]="' text-bg-'+ order_Status[order.status]?.color">{{order_Status[order.status]?.label}}</span>
                                </td>

                                <td class=" text-start fs-5 text-nowrap lh-sm  align-middle  text-nowrap ">
                                    {{order.dateOrdered | date : 'short'}}
                                </td>



                                <td class="text-end  fs-5   pe-9 align-middle  text-nowrap  lh-sm ">
                                    <button (click)="showOrder(order.id)" type="button" class="btn btn-pinky me-2">View
                                    </button>
                                    <button (click)="deleteOrder(order.id)" type="button" class="btn btn-pinky ">Delete
                                    </button>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>

        </div>

        </div>
    </div>


        </div>


<p-confirmDialog [style]="{width: '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
acceptButtonStyleClass=""></p-confirmDialog>



