<p-toast></p-toast>


<p-table [value]="orders">
    <ng-template pTemplate="header">
        <tr>
            <th>orderItems</th>
            <th>shippingAddress1</th>
            <th>shippingAddress2</th>
            <th>city</th>
            <th>zip</th>
            <th>country</th>
            <th>status</th>
            <th>phone</th>
            <th>totalPrice</th>
            <th>user</th>
            <th>dateOrdered</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.orderItems}}</td>
            <td>
                {{order.shippingAddress1}} </td>
            <td>{{order.shippingAddress2}}</td>
            <td>{{order.city}}</td>
            <td>{{order.zip}}</td>
            <td>{{order.country }}</td>
            <td>
                <p-tag [value]="order_Status[order.status]?.label" [severity]="order_Status[order.status]?.color">
                </p-tag>
            </td>
            <td>{{order.phone}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.user?.name }}</td>
            <td>{{order.dateOrdered | date : 'short'}}</td>



            <td> <i class="pi" [ngClass]="'pi-'+ order.icon"> </i></td>
            <td>
                {{order.color}}
            </td>
            <td> <button (click)="showOrder(order.id)" type="button" class="btn btn-danger m-2">View
                </button>
                <button (click)="deleteOrder(order.id)" type="button" class="btn btn-danger ">Delete
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>




<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-danger"
    acceptButtonStyleClass="p-button-danger"></p-confirmDialog>



