<p-toast></p-toast>
<div class="container-fluid  vh-100 fs-5 col-12  lh-sm ">
    <div class="row justify-content-center ">
        <div class="col-lg-12 col-sm-12 h-25 mb-5">
            <nav aria-label="breadcrumb" class="nav  justify-content-between pb-3 col-sm-12 col-lg-12 text-nowrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item nav-fill fs-5 cursor-pointer text-secondary fw-bold lh-sm text-nowrap"
                        routerLink="/">Home</li>
                    <li class="activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm  text-nowrap"
                        routerLink="/users">Users</li>
                </ol>


                    <div class="d-flex flex-row ">
                        <button routerLink="/user/form" type="button" class="btn btn-pinky fw-bold lh-sm text-nowrap">
                            <strong>+</strong> New</button>

                            <div class="dropdown ">
                                    <i class=" text-white bi bi-brightness-high-fill btn dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    </i>
                                <ul class="dropdown-menu">
                                  <li ><a class="dropdown-item" >
                                    <i class="bi bi-brightness-high-fill">
                                    </i></a></li>
                                    <li><a class="dropdown-item" >
                                     <i class="bi bi-cloud-moon-fill"></i></a></li>
                                </ul>
                              </div>

                    </div>
            </nav>
        </div>
        <div class="col-lg-12 col-sm-12 h-100 ">
            <div class=" vh-100 rounded-4 fs-5 col-lg-12 col-sm-12  w-100 shadow-sm pt-7 position-relative px-3 ">
                <div class="col-lg-11 col-sm-10 d-flex flex-row align-items-center rounded-3 bg-pinky shadow position-absolute top-3 start-50 translate-middle-x px-4"
                    style=" height: 7rem;">
                    <span class="fs-5 fw-bold text-white"> Users Table</span>
                </div>
                <div class="table-responsive h-100 w-100">
                    <div class="d-table h-100 w-100">
                        <table
                            class="table fs-5 table-borderless  col-lg-12 col-sm-12  rounded-4 text-secondary table-responsive  ">
                            <thead class="align-text-bottom ">
                                <tr class="border-bottom  ">
                                    <th scope="col " class=" text-start ps-9 fs-5  align-bottom text-nowrap lh-sm ">name
                                    </th>
                                    <th scope="col-5" class=" text-start fs-5    align-bottom text-nowrap lh-sm ">email
                                    </th>
                                    <th scope="col" class=" text-start fs-5   align-bottom text-nowrap lh-sm ">is admin
                                    </th>
                                    <th scope="col" class=" text-start fs-5   align-bottom text-nowrap lh-sm ">country
                                    </th>
                                    <th scope="col" class="pe-9 fs-5 text-nowrap text-end align-bottom lh-sm"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users" class="border-top">

                                    <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">{{user.name}}
                                    </td>


                                    <td class="text-start fs-5   align-middle lh-sm  text-nowrap ">
                                        {{user.email }}
                                    </td>
                                    <td class="text-start fs-5    lh-sm align-middle  text-nowrap "
                                        *ngIf="user.isAdmin === true; else f">
                                        <span class="badge text-bg-success">yes</span>
                                    </td>
                                    <ng-template #f>
                                        <td class="text-start align-middle">
                                            <span class="badge text-bg-danger">No</span>
                                        </td>
                                    </ng-template>

                                    <td class=" text-start fs-5   lh-sm  align-middle  text-nowrap ">
                                        {{user.country}}
                                    </td>



                                    <td class="text-end  fs-5   pe-9 align-middle  text-nowrap  lh-sm ">
                                        <button (click)="editUser(user.id)" type="button"
                                            class="btn btn-pinky me-2">Edit
                                        </button>
                                        <button (click)="deleteUser(user.id)" type="button"
                                            class="btn btn-pinky ">Delete
                                        </button>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>



</div>


<p-confirmDialog [style]="{width: '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
    acceptButtonStyleClass=""></p-confirmDialog>