<p-toast></p-toast>


<div class="pt-4 pb-2 fs-5  w-100 h-100 position-relative ">

    <nav aria-label="breadcrumb" class="d-flex justify-content-between pb-3 mb-5 ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item fs-5 cursor-pointer text-primary fw-bold" routerLink="/">Home</li>
            <li class="breadcrumb-item fs-5 cursor-pointer text-danger fw-bold" routerLink="/categories">Categories</li>
        </ol>
        <button routerLink="/categories/form" type="button" class="btn btn-danger fw-bold ">
            <strong>+</strong> New</button>
    </nav>

    <div class= "d-flex flex-row align-items-center w-90 rounded-3 bg-danger h-15 shadow  position-absolute z-index-2 top-10 start-50 translate-middle-x px-4">
        <span class="fs-5 fw-bold text-white">Categories Table</span>
    </div>



    <table class="table w-100 h-75 fs-5 bg-white rounded-4  table-borderless shadow-sm ">

        <thead class="align-text-bottom  h-25">
            <tr class="border-bottom  ">
                <th scope="col-6 " class="ps-4 align-bottom">name</th>
                <th scope="col-2 " class="ps-4 align-bottom">icon</th>
                <th scope="col-2 " class="ps-4 align-bottom">color</th>
                <th scope="col-2 " class="ps-4 align-bottom"></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let category of categories" class="border-top">
                <td class="ps-4 align-middle">{{category.name}}</td>
                <td class="ps-4 align-middle"> <i class="pi" [ngClass]="'pi-'+ category.icon"> </i></td>
                <td class="ps-4 align-middle">
                    <i class="pi pi-circle-on fs-2" [ngStyle]="{ color: category.color }"></i>
                </td>

                <td class="text-end pe-4 align-middle">
                    <button (click)="editCategory(category._id)" type="button" class="btn btn-danger me-2">Edit
                    </button>
                    <button (click)="deleteCategory(category._id)" type="button" class="btn btn-danger ">Delete
                    </button>
                </td>

            </tr>
        </tbody>

    </table>
</div>









<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-danger"
    acceptButtonStyleClass="p-button-danger"></p-confirmDialog>