
<p-toast></p-toast>
<div class="container-fluid  text-nowrap  vh-100 fs-5 col-12  ">
    <div class="row mb-5 justify-content-between flex-nowrap ">
        <div class="col-12 text-nowrap ">
            <nav aria-label="breadcrumb" class="nav justify-content-between pb-3 col-sm-12  col-lg-12 text-nowrap">
                <ol class="breadcrumb text-nowrap ">
                    <li class="nah breadcrumb-item nav-fill fs-5  text-secondary fw-bold lh-sm text-nowrap"><app-sidebar-sm></app-sidebar-sm></li>
                    <li class="activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm text-nowrap" routerLink="/categories">
                        Categories
                    </li>
                    <li class="activeli breadcrumb-item fs-5 nav-fill cursor-pointer text-pinky fw-bold lh-sm text-nowrap"
                       >Category Details
                    </li>
                </ol>
                <div class="d-flex flex-row">
                    <button (click)="onSubmit()" type="button" class="btn btn-pinky fw-bold me-2"
                        *ngIf="!editMode; else edit">
                        <strong>+</strong>
                        Create</button>
                    <ng-template #edit>
                        <button (click)="editSubmit()" type="button" class="btn btn-pinky fw-bold me-2">Update</button>
                    </ng-template>

                    <button (click)="onCancel()" type="button" class="btn btn-pinky fw-bold "> Cancel</button>

                    <div class="dropdown ">
                        <i class=" bi bi-brightness-high-fill btn dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu">
                          <li ><a class="dropdown-item" >
                            <i class="bi bi-brightness-high-fill">
                            </i></a></li>
                            <li><a class="dropdown-item" >
                             <i class="bi bi-cloud-moon-fill"></i></a></li>
                        </ul>
                      </div>
                </div>
            </nav>

</div></div>

            <!--Form-->

            <div class="row">
                <div class="col-lg-12 col-sm-12">
            <form [formGroup]="form" class="bg-pinky rounded-4 p-4 grid text-white fw-bold">


<div class="g-col-6">
    <div>
        <label for="name" class="col-form-label">Name</label>
        <div class="col-12">
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
            <span class="text-primary fw-normal"
                *ngIf="form.controls['name'].invalid && form.controls['name'].touched "> name is
                invalid</span>
        </div>
    </div>

    <div>
        <label for="brand" class="col-form-label">icon</label>
        <div class="col-12">
            <input type="text" class="form-control" id="icon" placeholder="brand" formControlName="icon">
            <span class="primary  fw-normal"
                *ngIf="form.controls['icon'].invalid && form.controls['icon'].touched "> icon name is
                invalid</span>
        </div>
    </div>


    <div class="">
        <label for="color" class=" col-form-label">Color</label><br>
        <div class="col-12">
            <p-colorPicker  formControlName="color"  [inline]="true"></p-colorPicker>


        </div>
    </div>

    </div>


            </form>
        </div>
    </div>
</div>


<p-confirmDialog [style]="{'min-width': '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
acceptButtonStyleClass=""></p-confirmDialog>


