
<p-toast></p-toast>
<div class="container-fluid vh-100 fs-5 col-12 text-secondary lh-sm ">
    <div class="row mb-5 justify-content-between">
        <div class="col-lg-12 col-sm-12 h-25">
            <nav aria-label="breadcrumb text-nowrap" class="nav justify-content-between pb-3 col-sm-12  col-lg-12 text-nowrap ">
                <ol class="breadcrumb text-nowrap col-sm-8">
                    <li class="breadcrumb-item nav-fill fs-5 cursor-pointer text-secondary fw-bold lh-sm text-nowrap" routerLink="/">Home</li>
                    <li class="activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm text-nowrap" routerLink="/users">
                        Users
                    </li>
                    <li class="activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm text-nowrap"
                       >User Details
                    </li>
                </ol>
                <div>
                    <button (click)="onSubmit()" type="button" class="btn btn-pinky fw-bold me-2"
                        *ngIf="!editMode; else edit">
                        <strong>+</strong>
                        Create</button>
                    <ng-template #edit>
                        <button (click)="editSubmit()" type="button" class="btn btn-pinky fw-bold me-2">Update</button>
                    </ng-template>

                    <button (click)="onCancel()" type="button" class="btn btn-pinky fw-bold "> Cancel</button>
                </div>
            </nav>
</div>
</div>
<div class="row ">
    <div class="col-lg-12 col-sm-12">

        <!--Form-->

        <form [formGroup]="form" class="bg-pinky rounded-4 p-4  grid text-white fw-bold  vh-100 ">
            <div class="g-col-6">

    <div>
        <label for="name" class="col-form-label">Name</label>
        <div class="col-12">
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
            <span class="text-primary fw-normal"
                *ngIf="form.controls['name'].invalid && form.controls['name'].touched "> name is
                invalid</span>
        </div>
    </div>
            <div>
                <label for="email" class="col-form-label">email</label>
                <div class="col-12">
                    <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
                    <span class="text-primary fw-normal"
                        *ngIf="form.controls['email'].invalid && form.controls['email'].touched "> email is
                        invalid</span>
                </div>
            </div>

            <div>
                <label for="password" class="col-form-label">password</label>
                <div class="col-12">
                    <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
                    <span class="text-primary fw-normal"
                        *ngIf="form.controls['password'].invalid && form.controls['password'].touched "> password is
                        invalid</span>
                </div>
            </div>


            <div>
                <label for="phone" class="col-form-label">phone</label>
                <div class="col-12">
                    <input type="tel" class="form-control" id="phone" placeholder="phone" formControlName="phone">
                    <span class="text-primary fw-normal"
                        *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched "> phone is invalid</span>
                </div>
            </div>

            <div>
                <label for="flexSwitchCheckDefault" class="form-check-label col-form-label" >is admin</label>
                <div class="form-check form-switch ">
                    <input [value]="adminValue" placeholder="isAdmin"
                     formControlName="isAdmin" class="form-check-input"
                      type="checkbox" role="switch" unchecked id="flexSwitchCheckDefault"
                     >
                  </div>
            </div>

            </div>
            <div class="g-col-6">

                <div>
                    <label for="street" class="col-form-label">street</label>
                    <div class="col-12">
                        <input type="text" class="form-control" id="street" placeholder="street" formControlName="street">
                        <span class="text-primary fw-normal"
                        *ngIf="form.controls['street'].invalid && form.controls['street'].touched ">
                             street is invalid
                        </span>
                    </div>
                </div>


                <div>
                    <label for="apartment" class="col-form-label">apartment"</label>
                    <div class="col-12">
                        <input type="text" class="form-control" id="apartment" placeholder="apartment" formControlName="apartment">
                        <span class="text-primary fw-normal"
                        *ngIf="form.controls['apartment'].invalid && form.controls['apartment'].touched ">
                             apartment is invalid
                        </span>
                    </div>
                </div>



                <div>
                    <label for="zipCode" class="col-form-label">zipCode"</label>
                    <div class="col-12">
                        <input placeholder="zipCode" formControlName="zipCode" class="form-control" id="zipCode" type="text" inputmode="numeric">
                        <span class="text-primary fw-normal"
                        *ngIf="form.controls['zipCode'].invalid && form.controls['zipCode'].touched ">
                             isAdmin is invalid
                        </span>
                    </div>
                </div>



              <div class="dropdown mt-2 " ngbDropdown>
                <label class="col-12">Country</label>
                <button ngbDropdownToggle class="btn btn-pinky fs-5 bg-white text-secondary dropdown-toggle mt-2  " type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
Admin Country
                </button>
                <ul ngbDropdownMenu class="col-sm-3">
                    <li>
                        <a class="dropdown-item"
                         ngbDropdownItem
                         *ngFor="let country of countries;"
                            (click)="sendCountryName(country.name)"
                            [ngClass]="{ 'selected' :country?.name == currentUser?.country}"

                            >{{country.name}}

                        </a>
                    </li>
                </ul>

            </div>




            </div>

        </form>

        </div>
        </div>
        </div>

<p-confirmDialog [style]="{width: '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
acceptButtonStyleClass=""></p-confirmDialog>




