<div class="container-fluid ">
    <div class="row flex-nowrap">
        <div class="col-auto px-sm-2 px-0 bg-light text-white fw-bold">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a routerLink="/dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">
                        <!-- <img src="assets//png-transparent-retail-computer-icons-e-commerce-sales-mega-offer-miscellaneous-service-logo.png"
                            class="inline-block"> -->
                            Dashboard
                    </span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <!-- <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link align-middle px-0 text-danger">
                          <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/products" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-danger">
                            <!-- <i class="fs-4 bi-speedometer2"></i> -->
                             <span class="ms-1 d-none d-sm-inline">Products</span>
                        </a>

                    </li>

                    <li>
                        <a routerLink="/categories" class="nav-link px-0 align-middle text-danger">
                            <!-- <i class="fs-4 bi-table"></i> -->
                            <span class="ms-1 d-none d-sm-inline">Categories</span></a>
                    </li>
                    <li>
                        <a routerLink="/orders" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-danger">
                            <!-- <i class="fs-4 bi-bootstrap"></i> -->
                            <span class="ms-1 d-none d-sm-inline">Orders</span></a>

                    </li>
                    <li>
                        <a routerLink="/users" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-danger">
                            <!-- <i class="fs-4 bi-grid"></i> -->
                            <span class="ms-1 d-none d-sm-inline">Users</span> </a>
                    </li>

                </ul>
                <hr>

                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle text-danger"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Admin </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow bg-light fw-bold " aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item fw-bold  text-danger" href="#">New project...</a></li>
                        <li><a class="dropdown-item  fw-bold text-danger" href="#">Settings</a></li>
                        <li><a class="dropdown-item fw-bold text-danger" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item fw-bold text-danger" href="#">Sign out</a></li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
</div>

