<div class="d-lg-flex col-lg-12  flex-column  vh-100  fs-5 d-none lh-sm " >

        <ul class="
                nav
                flex-column
                w-20
                h-95
                flex-wrap
                align-items-start
                justify-content-evenly
                list-unstyled
                rounded-4
                bg-primary
                pt-3
                px-3
                position-fixed" id="menu" >

                <li class="align-self-center  w-100 h-6 rounded-2 text-center text-nowrap">
                        <span class="text-white pb-3 text-nowrap fs-5 text-uppercase">Admin Dashboard
                        </span>
                        <hr class=" text-white mt-4">
                </li>

                <li class="bg text-nowrap col-12 d-flex flex-row justify-content-start h-9  ps-3 text-white rounded-2 align-items-center  cursor-pointer" routerLink="/dashboard" routerLinkActive="tog">
                        <i class="bi bi-columns pe-1 fst-normal"> Dashboard</i>
                </li>

                <li class="bg text-nowrap col-12 d-flex flex-row justify-content-start h-9 ps-3 text-white rounded-2 align-items-center  cursor-pointer" routerLink="/products" routerLinkActive="tog">
                        <i class="bi bi-tags fst-normal"> Products</i>
                </li>

                <li class="bg text-nowrap col-12 d-flex flex-row justify-content-start h-9 ps-3 text-white rounded-2 align-items-center  cursor-pointer" routerLink="/categories" routerLinkActive="tog">
                        <i class="bi bi-card-list fst-normal"> Categories</i>
                </li>
                <li class="bg text-nowrap col-12 d-flex flex-row justify-content-start h-9 ps-3 text-white rounded-2 align-items-center   cursor-pointer" routerLink="/orders" routerLinkActive="tog">
                        <i class="bi bi-bag-heart fst-normal"> Orders</i>
                </li>
                <li class="bg text-nowrap col-12 d-flex flex-row justify-content-start h-9 ps-3 text-white rounded-2 align-items-center  cursor-pointer" routerLink="/users" routerLinkActive="tog">
                        <i class="bi bi-people fst-normal"> Users</i>
                </li>

                <li class="bg text-nowrap col-lg-12 d-flex flex-row justify-content-start align-items-center ps-3  h-9 text-white rounded-2  cursor-pointer" routerLinkActive="tog" (click)="logOut()">
                        <i class="bi bi-arrow-down-square fst-normal"> Log Out</i>
                </li>
        </ul>

</div>