<p-toast></p-toast>
<div class=" position-relative bg-pinky " style=" background-image:url( '../assets/photo-1497294815431-9365093b7331.png');
    background-size: cover;
    min-height: 100%;
    ">

<span class="posision-absolute top-0 start-0 " style="background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
width: 100%;
min-height: 100%!important;
position: absolute;
background-size: cover;
opacity: .6">
  </span>

<div class="container-fluid z-3 col-12 h-100 p-6 text-primary position-relative ">
  <div class="row  col-lg-12 col-sm-12 h-100 justify-content-center align-items-center ">

  <form [formGroup]="loginForm" class=" login shadow z-3   rounded col-lg-4 col-sm-12 col-md-6  ps-4 pe-4 position-relative bg-white   "
  style="min-height: 28rem; height: 80vh; "
  >
    <div class= "d-flex flex-column justify-content-center align-items-center pt-2 rounded-3 bg-pinky shadow position-absolute top-2 start-50 w-90 translate-middle-x px-4"
    style=" height: 10rem;">
    <span class="text-white fw-bold fs-4">Sign In</span>
    <div class="col-7 d-flex flex-row align-items-center justify-content-between mt-2 ">
      <span><i class="bi bi-google fs-5 text-white cursor-pointer shadow "></i></span>
      <span><i class="bi bi-github fs-5  text-white cursor-pointer shadow"></i></span>
      <span><i class="bi bi-facebook fs-5 text-white cursor-pointer shadow"></i></span>
    </div>
  </div>
<div class=" w-100 d-flex flex-column justify-content-center  align-items-end "  style="min-height: 35rem; height: 100%;">
  <div class="form-group w-100 "  style="min-height: 5rem ">
    <label class="mb-2" for="exampleInputEmail1">Email address</label>
    <input (ngModelChange)="clear()"  type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group  w-100  " style="min-height: 5rem;height: 5rem;">
    <label class="mb-2" for="exampleInputPassword1">Password</label>
    <input (ngModelChange)="clear()" type="password" class="form-control" formControlName="password"  id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-pinky mt-4 w-100  " style="min-height: 2rem; height: 3rem;" (click)="login()">Sign In</button>
  <small    [ngClass]="{'invisible' : !error }"   class="text-danger align-self-center mt-3 visible "> Wrong Email or Password</small>

</div>


  </form>



  </div>

</div>


<!-- </div> -->