

 <div class="container-fluid vh-100 fs-5 col-12 lh-sm ">
  <div class="row h-100 gy-2 justify-content-around" >
      <div class="col-12  ">
     <nav aria-label="breadcrumb" class="nav justify-content-between  align-items-start pb-3 col-sm-12 col-lg-12 text-nowrap ">
    <ol class="breadcrumb text-nowrap">
      <li class="breadcrumb-item nav-fill fs-5 cursor-pointer text-secondary fw-bold lh-sm text-nowrap"> <app-sidebar-sm></app-sidebar-sm></li>
      <li class=" activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm  text-nowrap" routerLink="/dashboard">Dashboard
      </li>
    </ol>


    <div class="d-flex flex-row  justify-content-between align-items-start">
            <app-toggle-mode></app-toggle-mode>
  </div>




  </nav>
  </div>


  <div class="col-lg-5 col-sm-5 h-40 d-block mb-3" style=" min-height:200px; min-width:270px">
    <div class="col-12 h-100 card border-0 shadow rounded-4 position-relative text-secondary lh-sm" >
      <div class="card-header d-flex flex-column align-items-end ">
        <div
          class="d-flex flex-row align-items-center justify-content-center position-absolute top-15 start-7  bg-pinky rounded-4"
          style="width: 4rem; height: 4rem;">
          <i class="bi bi-wallet-fill fs-3 text-white"></i>
        </div>
        <div class="d-block">
          <p>Total Sales</p>
          <h4>{{totalSales | currency : 'EGP': 'symbol' : '1.0-0' }}
          </h4>
        </div>
      </div>
      <div class="card-footer border-top-0  h-100">
        <div>
          <p>+55% than last week</p>
        </div>
      </div>
    </div>
  </div>



  <!--second card-->
<div class="col-lg-5 col-sm-5 h-40 mb-3" style=" min-height:200px; min-width:270px">
  <div class="col-12 h-100 card border-0 shadow rounded-4 position-relative text-secondary lh-sm" >
    <div class="card-header d-flex flex-column align-items-end">
      <div
        class="d-flex flex-row align-items-center justify-content-center position-absolute top-15 start-7  bg-pinky rounded-4"
        style="width: 4rem; height: 4rem;">
        <i class="bi bi-bag-heart fs-3 text-white"></i>
      </div>
      <div>
        <p>Total Orders</p>
        <h4>{{ordersCount}}
        </h4>
      </div>
    </div>
    <div class="card-footer border-top-0 h-100 ">
      <div>
        <p>+55% than last week</p>
      </div>
    </div>
  </div>
</div>




  <!--third card-->
  <div class=" col-lg-5 col-sm-5 h-40 mb-3" style=" min-height:200px; min-width:270px">
    <div class="col-12 h-100 card border-0 shadow rounded-4 position-relative text-secondary lh-sm">
      <div class="card-header d-flex flex-column align-items-end ">
        <div
          class="d-flex flex-row align-items-center justify-content-center position-absolute top-15 start-7  bg-pinky rounded-4"
          style="width: 4rem; height: 4rem;">
          <i class="bi bi-people fs-3 text-white"></i>
        </div>
        <div>
          <p>Total Users</p>
          <h4>{{usersCount}}
          </h4>
        </div>
      </div>
      <div class="card-footer border-top-0 h-100">
        <div>
          <p>+55% than last week</p>
        </div>
      </div>
      </div>
  </div>


<!--fourth card-->

<div class=" col-lg-5 col-sm-5 h-40 mb-3 " style=" min-height:200px; min-width:270px">
<div class="col-12 h-100 card border-0 shadow rounded-4 position-relative text-secondary lh-sm" >
  <div class="card-header d-flex flex-column align-items-end ">
    <div
      class="d-flex flex-row align-items-center justify-content-center position-absolute top-15 start-7  bg-pinky rounded-4"
      style="width: 4rem; height: 4rem;">
      <i class="bi bi-people fs-3 text-white"></i>
    </div>
    <div>
      <p class="">Total Products</p>
      <h4>{{productsCount}}
      </h4>
    </div>
  </div>
  <div class="card-footer border-top-0 h-100 ">
    <div>
      <p>+55% than last week</p>
    </div>
  </div>
  </div>

  </div>
</div>
</div>

















