<p-toast></p-toast>
<div class="container-fluid vh-100 fs-5 col-12 lh-sm  ">
            <div class="row mb-5 justify-content-between flex-nowrap">
                <div class="col-lg-12 col-sm-12 h-25 text-nowrap ">
            <nav aria-label="breadcrumb" class="nav  justify-content-between pb-3 col-sm-12 w-100 col-lg-12 text-nowrap ">
                <ol class="breadcrumb text-nowrap ">
                    <li class="nah breadcrumb-item fs-5  text-secondary fw-bold text-nowrap"><app-sidebar-sm></app-sidebar-sm></li>
                    <li class="activeli  breadcrumb-item fs-5 cursor-pointer text-pinky btn-pinky fw-bold text-nowrap " routerLink="/products">
                        Products
                    </li>
                    <li class="activeli breadcrumb-item fs-5 nav-fill cursor-pointer text-pinky fw-bold lh-sm text-nowrap"
                      >Product Details
                    </li>
                </ol>
                <div class="d-flex flex-row ">
                    <button (click)="onSubmit()" type="button" class="btn btn-pinky btn-sm fw-bold me-2 "
                        *ngIf="!editMode; else edit">
                        <strong>+</strong>
                        Create</button>
                    <ng-template #edit>
                        <button (click)="editSubmit()" type="button" class="btn btn-sm btn-pinky fw-bold me-2 ">Update</button>
                    </ng-template>

                    <button (click)="onCancel()" type="button" class="btn btn-pinky fw-bold btn-sm  "> Cancel</button>
                  <app-toggle-mode></app-toggle-mode>
                </div>


            </nav>
            </div>
            </div>


            <!--Form-->
            <div class="row justify-content-center">
                <div>
            <form [formGroup]="form" class="bg-pinky rounded-4 p-4 grid text-white fw-bold ">


<div class="g-col-6">
    <div>
        <label for="name" class="col-form-label">Name</label>
        <div class="col-12">
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
            <span class="text-primary fs-6 fw-normal"
                *ngIf="form.controls['name'].invalid && form.controls['name'].touched "> name is
                invalid</span>
        </div>
    </div>

    <div>
        <label for="brand" class="col-form-label">brand</label>
        <div class="col-12">
            <input type="text" class="form-control" id="brand" placeholder="brand" formControlName="brand">
            <span class="text-primary fs-6 fw-normal"
                *ngIf="form.controls['brand'].invalid && form.controls['brand'].touched "> Brand name is
                invalid</span>
        </div>
    </div>

    <div>
        <label for="price" class="col-form-label">price</label>
        <div class="col-12">
            <input type="number" class="form-control" id="price" aria-describedby="emailHelp"
                formControlName="price">
            <span class="text-primary fs-6 fw-normal"
                *ngIf="form.controls['price'].invalid  && form.controls['price'].touched "> price is
                invalid</span>
        </div>

    </div>

    <div>
        <label for="countInStock" class="col-form-label">countInStock</label>
        <div class="col-12">
            <input type="number" class="form-control" id="countInStock" formControlName="countInStock">
            <span class="text-primary fs-6 fw-normal"
                *ngIf="form.controls['countInStock'].invalid  && form.controls['countInStock'].touched ">
                count is
                invalid</span>
        </div>

    </div>

    <div>
        <div class="col-12">
            <label for="image" class="col-form-label">product image</label>
            <input class="form-control" type="file" accept="image/*" id="image" (change)="onUpload($event)">
            <div class="col-12 mt-3"><img *ngIf="src"  class=" rounded-2 col-4 object-fit-cover" [src]="src" style="max-height: 15rem;"></div>

        </div>

    </div>

    <div>
        <div class="col-12 " *ngIf="id">
            <label for="images" class="col-form-label" >product images</label>
            <input multiple class="form-control" type="file" accept="image/*" id="images" (change)="onUploadImages($event)">
            <div class=" mt-3 col-12 overflow-auto " *ngIf="srcs" style="max-height: 15rem;" >
                <div  class="col-12">
                        <img *ngFor="let src of srcs"  class=" rounded-2 col-3 object-fit-cover " [src]="src?.url" style="margin-left: 2px;">
                </div>
            </div>
        </div>



     </div>
    <div class="col-12">

    </div>


    <div>
        <label for="flexSwitchCheckDefault" class="form-check-label col-form-label" >featured</label>
        <div class="form-check form-switch col-12">
            <input [value]="isFeaturedValue" placeholder="isAdmin"
             formControlName="isFeatured" class="form-check-input"
              type="checkbox" role="switch" unchecked id="flexSwitchCheckDefault"
             >
          </div>
    </div>



    <!-- <td class=" text-start fs-5   lh-sm  align-middle  text-nowrap ">
      <i class="pi pi-circle-on fs-2" [ngStyle]="{ color: currentProduct?.color }"></i>
  </td>

 -->

 <div>
  <label for="flexSwitchCheckDefault" class="form-check-label col-form-label" >Color</label>
  <div class="form-check form-switch col-12">
      <!-- <input  placeholder="Color"
       formControlName="color" class="form-check-input"
        type="text" role="switch" unchecked id="flexSwitchCheckDefault"
       > -->

       <p-colorPicker  formControlName="color"  [inline]="true"></p-colorPicker>

    </div>
</div>




    <div>
        <div class="dropdown mt-2 col-12 " ngbDropdown>
            <label class="col-12">Category</label>
            <button ngbDropdownToggle class="  btn userdd  btn-sm fs-5  dropdown-toggle mt-2  " type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
     Category
        </button>
            <ul ngbDropdownMenu class="col-12" >
                <li><a class="dropdown-item " [ngClass]="{ 'selected' :category?.name === currentProduct?.category?.name}"
                     ngbDropdownItem *ngFor="let category of categories;"
                     routerLinkActive=""
                        (click)="sendId(category._id)">{{category.name}}
                    </a></li>
            </ul>

        </div>
    </div>




</div>


<div class="g-col-6">
    <div>
        <label for="richDescription" class="col-form-label">rich description</label>
        <div class="col-12">
            <p-editor formControlName="richDescription" [style]="{'height':'18rem'}"></p-editor>
        </div>
    </div>
    <div>
        <label for="description" class="col-form-label">description</label>
        <div class="col-12">
            <p-editor formControlName="description" [style]="{'height':'10rem'}">
            </p-editor>
        </div>
    </div>



</div>

            </form>
        </div>
</div>
</div>
<p-confirmDialog [style]="{'min-width': '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
acceptButtonStyleClass=""></p-confirmDialog>


