<p-toast></p-toast>

<div class="container-fluid  vh-100 fs-5 lh-sm col-12 ">
    <div class="row justify-content-center ">
        <div class="col-lg-12 col-sm-12 h-25  mb-4">
            <nav aria-label="breadcrumb" class="nav  justify-content-between pb-3 col-sm-12  col-lg-12">
                <ol class="breadcrumb">
                    <li class="nah breadcrumb-item nav-fill fs-5  text-secondary fw-bold lh-sm"
                        ><app-sidebar-sm></app-sidebar-sm></li>
                    <li class=" activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm"
                        routerLink="/orders">Orders</li>
                    <li class="activeli breadcrumb-item nav-fill fs-5 cursor-pointer text-pinky fw-bold lh-sm">Order Details</li>
                </ol>

                <div class="d-flex flex-row ">

                    <app-toggle-mode></app-toggle-mode>

                          </div>
            </nav>
        </div>

        <div class="order-details col-12  d-flex flex-column align-items-center mb-2 ">
                <button  style="min-width:200px" class="btn btn-pinky btn-sm col-5 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    Order Details </button>
            <div class="collapse col-12 show trorder " id="collapseExample">
                <div class=" overflow rounded-4 fs-5  col-lg-12 col-sm-12  w-100 shadow-sm px-3 ">
                    <table class="table fs-5 table-borderless col-lg-12 col-sm-12  rounded-4 text-secondary">
                        <thead class="align-text-bottom ">
                            <tr class="border-bottom  ">
                                <th scope="col " class="ps-9 fs-5  align-bottom text-nowrap lh-sm">order id</th>
                                <th scope="col" class=" ps-9 fs-5  align-bottom text-nowrap lh-sm">order date</th>
                                <th scope="col" class="ps-9 fs-5  align-bottom text-nowrap lh-sm">status</th>
                                <th scope="col" class="pe-9 fs-5   text-end align-bottom lh-sm text-nowrap ">total price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-top">
                                <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">{{returnedOrder?.id}}</td>
                                <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">
                                    {{returnedOrder?.dateOrdered | date : 'short'}}
                                </td>
                                <td class=" d-flex flex-row text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">
                                    <div class="dropdown  me-2 " ngbDropdown >
                                        <button ngbDropdownToggle class="btn btn-pinky dropdown-toggle btn-sm " type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            order Status
                                        </button>
                                        <ul ngbDropdownMenu class="z-3">
                                            <li class="z-3">
                                                <a class="dropdown-item z-3" ngbDropdownItem
                                                    *ngFor="let status of orderStatuses;"
                                                    (click)="sendStatusName(status.id)"
                                                    [ngClass]="{ 'selected' : status ===  orderStatuses[returnedOrder?.status]}">{{status?.name}}
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <button style="height: 2rem;" class="btn btn-pinky btn-sm "
                                        (click)="updateStatus()">update</button>
                                </td>
                                <td class="text-end  fs-5   pe-9 align-middle  text-nowrap  lh-sm">
                                    {{returnedOrder?.totalPrice}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <!--second section / order items-->



        <div class="order-details col-12   d-flex flex-column align-items-center mb-2  ">
                <button  style="min-width:200px" class="btn btn-pinky btn-sm btn-lg col-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample2" aria-expanded="true" aria-controls="collapseExample2">
                    Order Items </button>
            <div class="collapse col-12 show  trorder" id="collapseExample2">
                <app-order-item [orderItem]="returnedOrder?.orderItems"></app-order-item>

            </div>
        </div>



        <!--third one / order address-->

        <div class="order-details col-12  lh-sm d-flex flex-column align-items-center mb-2">
                <button  style="min-width:200px" class="btn btn-pinky btn-sm btn-lg col-5 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample3" aria-expanded="true" aria-controls="collapseExample3">
                    Order Details </button>
            <div class="collapse col-12  show trorder" id="collapseExample3">
                <div class="table-responsive  rounded-4 fs-5 shadow-sm pt-3 pb-3 col-12 px-3 w-100 ">
                    <table class="table fs-5 table-borderless  col-12  rounded-4 text-secondary">
                        <thead class="align-text-bottom ">
                            <tr class="border-bottom  ">
                                <th scope="col-3" class=" ps-9 fs-5  align-bottom text-nowrap lh-sm ">Address</th>
                                <th scope="col-3" class=" ps-9 fs-5  align-bottom text-nowrap lh-sm ">Address2</th>
                                <th scope="col-3" class="ps-9 fs-5  align-bottom text-nowrap lh-sm ">name</th>
                                <th scope="col-3" class=" pe-9 fs-5   text-end align-bottom lh-sm">contact</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-top">
                                <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">{{returnedOrder?.shippingAddress1}}</td>
                                <td class="text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">
                                    {{returnedOrder?.shippingAddress2}}
                                </td>
                                <td class=" d-flex flex-row  align-items-center text-start fs-5   ps-9  text-nowrap  lh-sm  align-middle">
                                    {{returnedOrder?.user?.name}}
                                </td>
                                <td class="text-end  fs-5   pe-9 align-middle  text-nowrap  lh-sm">
                                    {{returnedOrder?.phone}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<p-confirmDialog [style]="{'min-width': '36vw'}" [baseZIndex]="10000" rejectButtonStyleClass=""
    acceptButtonStyleClass=""></p-confirmDialog>